%transfomation {
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}
%mainPageColor {
  color:  rgb(37,54,93)
}
%mainPageBackColor {
  background-color:  rgb(37,54,93)
}
header {
  font-size: 18px;
  color: #fff;
  margin-left: -8px;
  margin-top: -8px;
  height: 550px;
  padding-top: 50px;
}
nav {
  margin-left: 10%;
}
.header-body {
  margin-top: 100px;
}
.navbar-nav {
  margin-left: 30%;
}
.nav-item {
  margin-left: 20px;
  padding: 5px;
  text-align: center;
}
.navbar-brand {
  color: #fff !important;
}
.navbar-brand h3:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.nav-item .nav-link {
  color: #fff !important;
  font-size: 18px !important;
}
h1:hover {
  text-decoration: underline;
  cursor: pointer;
}
.nav-item .nav-link:hover {
  color: rgb(37,54,93) !important;
}
.nav-item .nav-link {
  font-size: 12px;
}
.download {
  margin-top: 50px;
  padding: 1.2% 3%;
  border: 1px solid rgb(37,54,93);
  border-radius: 35px;
  outline: none;
  cursor: pointer;
  background-color: rgb(37,54,93);
  color: #fff;
  @extend %transfomation;
  span {
    font-weight: 400;
  }
  i {
    padding-right: 20px;
  }
}
.download:hover {
  color: rgb(37,54,93);
  background-color: #fff;
  @extend %transfomation;
}
.navbar-toggler {
  margin-left: 120%;
  @extend %transfomation;
}
@media (max-width:991px){
  .navbar-nav {
    z-index: 1000;
    position: absolute;
    width: 150px;
    padding-left: 3%;
    padding-right: 5%;
    border-radius: 5px;
    margin-left: 282px;
    background-color: #fff;
  }
  .nav-item .nav-link{
    color: #25365d !important
  }
  .nav-item .nav-link:hover {
    text-decoration: underline;
  }
  .navbar-toggler {
    margin-left: 500%
  }
}
