//- start Downloads
section.container-fluid.row#download
  div.col-lg-7.download-descripation
    h1 JUST DOWNLOAD IT
    p Lorem ipsum dolor sit amet,consectetuer adipiscing elit, sed do eiusmod tempor incididunt ut<br> nonummy nibh euismod tincidunt ut laoreet dolore magna, euismod tincidunt ut laoreet <br>euismod tincidunt ut laoreet. 
    
    label(class="container firstContainer") Duis aute irure dolor in reperhenderit in voluptate.     
      input(type="checkbox")  
      span(class="checkmark")
      
    label(class="container") Excepteur sint accaecat cupidatat non proident.
      input(type="checkbox")  
      span(class="checkmark")
      
    label(class="container") Duis aute irure dolor in reperhenderit in voluptate.
      input(type="checkbox")  
      span(class="checkmark")

    button.download  
      span Read more
  div.col-lg-5.downloadImage
    img(src="dist/image/download.png")
