//- start work
section.container-fluid.row#work.text-center
  div.col-lg-12.work-descripation.text-center
    h1 CHECK OUR FEATURES
    
  div.col-lg-3.feature.col-md-3
    div.f1
      h5 Feature1
      img(src="dist/image/line.png")
      p Duis aute irure dolor<br>in reperhenderit in voluptate<br>Excepteur sint occaecat 
    div.f1
      h5 Feature2
      img(src="dist/image/line.png")
      p Duis aute irure dolor<br>in reperhenderit in voluptate<br>Excepteur sint occaecat 

  div.col-lg-6.feature-img.text-center.col-md-6
    span 
      img(src="dist/image/freature1.png")
    span 
      img(src="dist/image/freature2.png")
    
  div.col-lg-3.feature.col-md-3
    div
      h5 Feature3
      img(src="dist/image/line.png")
      p Duis aute irure dolor<br>in reperhenderit in voluptate<br>Excepteur sint occaecat 
    div
      h5 Feature4
      img(src="dist/image/line.png")
      p Duis aute irure dolor<br>in reperhenderit in voluptate<br>Excepteur sint occaecat 
