section.row#foooter
  div(class="text-center header-body col-lg-12")
    h1 FREE PSD WEB TEMPLATE
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> trempor incididunt ut labore et dolor magna aligua.
    button.download 
      i(class="fas fa-download") 
      span Download
