//- start header
header#home
  //- start nav bar
  div.container
    nav(class="navbar navbar-expand-lg navbar-light ")
      a(class="navbar-brand hidden-lg" href="#home")
        h3 ENYO
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")

          
      div(class="collapse navbar-collapse" id="navbarSupportedContent")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item active")
            a(class="nav-link" href="#about") About
          li(class="nav-item")
            a(class="nav-link" href="#downloads") Downloads
          li(class="nav-item")
            a(class="nav-link" href="#plans") Plans
          li(class="nav-item")
            a(class="nav-link" href="#contact") Contact
          

    div(class="text-center header-body")
      h1 FREE PSD WEB TEMPLATE
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> trempor incididunt ut labore et dolor magna aligua.
      button.work Downloads
//- end Header
