//- start Icins
section.container-fluid#icons
  div.icons-items.row
    div.col-lg-4.icom-item
      div.icon-image 
        img(src="dist/image/icon1.PNG" class="")
      div.icon-descripation
        h5 HIGH RESOLUTION
        p Lorem ipusm dolot sit amet,<br>adipisicing elit, sed do eiusmod<br>tempor incididunt ut labore et
        
    div.col-lg-4.icom-item
      div.icon-image
        img(src="dist/image/icon2.PNG" class="")
      div.icon-descripation
        h5 PHOTOGRAPHY
        p Lorem ipusm dolot sit amet,<br>adipisicing elit, sed do eiusmod<br>tempor incididunt ut labore et
        
    div.col-lg-4.icom-item
      div.icon-image
        img(src="dist/image/icon3.PNG" class="")
      div.icon-descripation
        h5 EDITABLE LAYERS
        p Lorem ipusm dolot sit amet,<br>adipisicing elit, sed do eiusmod<br>tempor incididunt ut labore et
                
    div.col-lg-4.icom-item
      div.icon-image
        img(src="dist/image/icon4.PNG" class="")
      div.icon-descripation
        h5 24/7 SUPPORT
        p Lorem ipusm dolot sit amet,<br>adipisicing elit, sed do eiusmod<br>tempor incididunt ut labore et
                      
    div.col-lg-4.icom-item
      div.icon-image
        img(src="dist/image/icon5.PNG" class="")
      div.icon-descripation
        h5 POWERFULL THEME
        p Lorem ipusm dolot sit amet,<br>adipisicing elit, sed do eiusmod<br>tempor incididunt ut labore et
        
    div.col-lg-4.icom-item
      div.icon-image
        img(src="dist/image/icon5.PNG" class="")
      div.icon-descripation
        h5 TTV
        p Lorem ipusm dolot sit amet,<br>adipisicing elit, sed do eiusmod<br>tempor incididunt ut labore et
                    
