section.container-fluid.row#plan
  div.col-lg-12.plan-descripation.text-center
    h1 PLANS
    p Lorem ipsum dolor sit amet,consectetuer adipiscing elit, sed do eiusmod tempor incididunt ut nonummy nibh euismod tincidunt ut<br> laoreet dolore magna, euismod tincidunt ut laoreet euismod tincidunt ut laoreet. 
