section.container-fluid.row#plan
  div.col-lg-12.plan-descripation.text-center
    h1 PLANS
    p Lorem ipsum dolor sit amet,consectetuer adipiscing elit, sed do eiusmod tempor incididunt ut nonummy nibh euismod tincidunt ut<br> laoreet dolore magna, euismod tincidunt ut laoreet euismod tincidunt ut laoreet. 
    
    div.row.planItems
      div.col-lg-3.planItem.text-center
        div BASIC PLAN 
        div.planItemPrice
          h4 $<strong>25</strong> <thin class="thin">/mon</thin>
        div Lerem ipsum</strong> dolor
    
      div.col-lg-3.planItem.text-center
        div PROFESSIONAL PLAN
        div.planItemPrice
          h4 $<strong>50</strong> <thin class="thin">/mon</thin>
        div Lerem ipsum</strong> dolor

      div.col-lg-3.planItem.text-center
        div PROFESSIONAL+PLAN 
        div.planItemPrice
          h4 $<strong>75</strong> <thin class="thin">/mon</thin>
        div Lerem ipsum</strong> dolor
    
    div.col-lg-12.text-center
      div.planFooter
        img(src="dist/image/user.PNG")
        div.questions 
          span GOT QUESTIONS?
        p Contact our customer support team if You have any further questions <br> we are here to help out!
        div.connect
          span
            img(src="dist/image/massage.gif") 
            strong support@free.com
          
          span
            img(src="dist/image/telephone.png") 
            strong +58 504 176 933
